.blender-section {
    width: 100%;
    height: 100vh;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #111;
    .left-content {
        background: #111;
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 40px;
        .column-1 {
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 5px;
        }
        .column-2 {
            font-size: 100px;
            font-weight: 700;
        }
        .column-3 {
            font-size: 14px;
            letter-spacing: 5px;
        }
    }
    .right-content {
        color: #111;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-start;
        padding: 20px 40px;
        .column-1 {
            font-size: 80px;
            font-weight: 200;
            letter-spacing: 8px;
            line-height: 80px;
            &::after {
                background: none repeat scroll 0 0 #626262;
                content: "";
                display: block;
                height: 2px;
            }
        }
        .column-2 {
            font-weight: 300;
            font-size: 15px;
            padding-left: 8px;
            letter-spacing: 1px;
            margin-top: 5px;
        }
        .column-3 {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 20px 25px;
            max-width: 900px;
            font-size: 14px;
            font-weight: 300;
        }
    }
}

@media (max-width: 991px) {
    .blender-section {
        .left-content {
            padding: 20px;
            .column-1 {
                font-size: 10px;
            }
            .column-2 {
                font-size: 70px;
            }
            .column-3 {
                font-size: 10px;
            }
        }
        .right-content {
            .column-1 {
                font-size: 60px;
            }
            .column-2 {
                font-size: 13px;
            }
            .column-3 {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    .blender-section {
        .left-content {
            padding: 5px;
            .column-1 {
                writing-mode: tb-rl;
            }
            .column-2 {
                font-size: 40px;
                writing-mode: tb-rl;
                margin: 14px 0px;
            }
            .column-3 {
                writing-mode: tb-rl;
            }
        }
        .right-content {
            padding: 20px 12px;
            .column-1 {
                font-size: 40px;
                line-height: 50px;
            }
            .column-3 {
                font-size: 10px;
                padding: 0px;
            }
        }
    }
}