.wp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    transition: all 0.5s;
    animation: pulse 1s infinite;
    z-index: 100;
    &:hover {
        width: 200px;
        text-decoration: none;
        color: white;
        &::after {
            opacity: 1;
        }
        i {
            transform: translateX(0px);
        }
    }
    &::after {
        opacity: 0;
        content: "iletişime geç";
        font-size: 14px;
        margin-left: 5px;
        transition: all 0.5s;
    }
    i {
        transform: translateX(30px);
        transition: 0.5s;
    }
}

@keyframes pulse {
    0% {
        box-shadow: rgba(37, 211, 102, 0.2) 0px 0px 0px 0px;
    }
    100% {
        box-shadow: rgba(37, 211, 102, 0.2) 0px 7px 29px 0px;
    }
}

@media (max-width: 576px) {
    .wp-button {
        width: 35px;
        height: 35px;
        font-size: 17px;
        &::after {
            font-size: 12px;
        }
        &:hover {
            width: 120px;
        }
    }
}