.menu-toggle {
    top: 25px;
    right: 25px;
    z-index: 1001;
    -webkit-user-select: none;
    user-select: none;
}

.menu-toggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 101;
}

.menu-toggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

.menu-toggle span:first-child {
    transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.menu-toggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -15px);
    background: white;
}

.menu-toggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-toggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 13px);
}